---
name: Container

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  container:
    runs-on: ubuntu-latest
    name: Container

    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        if: github.ref != 'refs/heads/main'
        with:
          context: .
          tags: quay.io/muhlba91/fh-burgenland-bswe-docusaurus:${{ github.event.pull_request.head.sha }}
          push: true

      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        if: github.ref == 'refs/heads/main'
        with:
          context: .
          tags: quay.io/muhlba91/fh-burgenland-bswe-docusaurus:latest
          push: true
