---
name: Container

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  container:
    runs-on: ubuntu-latest
    name: Container

    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        if: github.ref != 'refs/heads/main'
        with:
          context: .
          tags: quay.io/muhlba91/fh-burgenland-bswe-docusaurus:${{ github.event.pull_request.head.sha }}
          push: true

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        if: github.ref == 'refs/heads/main'
        with:
          context: .
          tags: quay.io/muhlba91/fh-burgenland-bswe-docusaurus:latest
          push: true
